.switch {

    position: relative;
    transition: left linear .2s;

    background-color: var(--webchatui--background_color);
    color: var(--webchatui--color_inactive);

    border-radius: 50%;

    box-sizing: border-box;
    padding: 5px;

}

.container_swtich {

    background-color: transparent;

    cursor: pointer;

    width: 90px;

    position: relative;

    transition: border-color linear .2s;
    border: 2px solid var(--webchatui--color_inactive);
    border-radius: 30px;

    box-sizing: border-box;
    padding: 5px 10px;

}

.container_swtich:hover {
    border-color: var(--webchatui--color);
}